<!DOCTYPE html>
<html>
<title>Les archives de Babel</title>

<header>
    <h1 style="text-align: center">Les archives de Babel</h1>
    <h2 style="text-align: center">Archive de revues scientifiques</h2>
    <div style="text-align: center">
        <img src="{{ url_for('static', filename = 'logo87.png') }}" alt="Babel Logo" width="250" />
    </div>
</header>

<link rel="stylesheet" href="/static/navbar.css" />
<div class="navbar">
    <a href="accueil">Accueil</a>
    <div class="dropdown">
        <button class="dropbtn">Consultation <i class="arrow-down"></i></button>
        <div class="dropdown-content">
            <a href="comites">Les comités</a>
            <a href="articles">Tous nos articles</a>
            <a href="auteurs">Tous nos auteurs</a>
        </div>
    </div>
    <a href="recherche">Recherche</a>
    {% if not admin %}
        <a href="connexion">Connexion admin</a>
    {% else %}
        <a href="ajout_adm">Ajout admin</a>
        <a href="deconnexion">Déconnexion</a>
    {% endif %}
    <a href="info">À propos</a>
</div>

<p style="text-align: center">
    Bienvenue sur les archives de Babel. Utilisez la barre de navigation pour
    accéder aux différentes pages du site web.</br></br>
    {% if admin %}
        Vous êtes connecté en tant qu'admin
    {% endif %}
</p></br>

<form method="get" action="recherche">
    <button style="float: right; margin-left: 10px;">Rechercher</button>
    <input type="search" id="site-search" name="rech" style="float: right; margin-left: 10px;" />
    <label for="search" style="float: right;">Rechercher un article:</label>
</form>

<p style="margin-bottom: 75px;"></p>

<div class="boite-titre-accueil">
    <span>Nombre d'articles scientifiques</span>
</div>
<div class="boite-accueil">
    <span class="texte-boite-accueil">
        {{nb_art}}
    </span>
</div>

<div class="boite-titre-accueil">
    <span>Les articles les plus cités:</span>
</div>
<div class="boite-accueil">
    <ul>
        {% for article in lst_cite %}
        <li><b>{{article.titre}}</b> - Cité {{article.nb_cite}} fois</li>
        {% endfor %}
    </ul>
</div>

</html>